Source: gkrellexec
Section: utils
Priority: extra
Maintainer: Leandro Lisboa Penz <lpenz@terra.com.br>
Build-Depends: debhelper (>= 7), make (>= 3.81-5), libc6-dev (>= 2.7-18), gcc (>= 4:4.3.2-2), gkrellm (>= 2.3), coreutils (>= 6.10-6), txt2tags (>=1), pkg-config, 
Standards-Version: 3.8.3
Homepage: http://github.com/lpenz/gkrellexec

Package: gkrellexec
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: gkrellm plugin that displays the return status of arbitrary shell commands
 gkellexec displays a panel in gkrellm, with one line per process, showing its
 last exit status (T for timeout, O for ok, E for error) and its name.
 Up to 10 shell commands can be specified, each with a name, timeout and
 different times to sleep after a success or a failure.
